<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.config.title %></title>
	<link rel="icon" sizes="16x16" href="/favicon.ico">
	<script>(function(url){window['_boostrap_'+url]=fetch(url);})('/content'+location.pathname.replace(/^\/(repl)?\/?$/, '/index')+'.md');</script>
	<% for (var chunk of webpack.chunks) { %>
		<% for (var file of chunk.files) { %>
			<% if (file.match(/\.(js|css)$/)) { %>
				<link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
			<% } %>
		<% } %>
	<% } %>
</head>
<body>
	hi!
	<script src="/bundle.js"></script>
</body>
</html>